#Layer_2 {
    animation: arrowAnimation 2s linear;
    transform: translate(65vw, 0px);
}

@keyframes arrowAnimation {
    0% {
        transform: translate(0vw, 0px);
    }

    100% {
        transform: translate(65vw, 0px);
    }
}