.bg-accent-outline {
    border: 2px solid var(--accent-primary);
    border-radius: 0;
    padding: 5px 25px;
    transition: all .25s ease-in-out;
}

.bg-accent-outline:hover {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white;
}

a.btn-main {
    background: transparent;
    color: var(--accent-primary);
    border: 1px solid var(--accent-primary);
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.btn-main:hover {
    background: var(--accent-primary);
    color: white;
    text-decoration: none;
}