.bg-outline {
    background: transparent;
    color: var(--accent-primary);
    border: 1px solid var(--accent-primary);
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.bg-outline:hover {
    background: var(--accent-primary);
    color: white;
    text-decoration: none;
}

.btn-main {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white !important;
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-main-white {
    border: 2px solid white;
    background: white;
    color: var(--accent-primary) !important;
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-main:hover {
    background: white;
    color: var(--accent-primary) !important;
    text-decoration: none;
}

.btn-main-white:hover {
    background: var(--accent-primary);
    color: white !important;
    text-decoration: none;
}

.button,
.button img {
    transition: all .25s ease-in-out;
}

.button {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.button img {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    /* object-fit: contain; */
}

.button:hover,
.button:hover img {
    text-decoration: underline !important;
}

.button:hover img {
    /* transform: scale(1.25); */
    width: 35px;
    transform-origin: left;
}

/* .button:hover img {
    transform: scale(1.25);
} */